apiVersion: v1
kind: ConfigMap
metadata:
  name: seata-server-log-config
data:  
  console-appender.xml: |  
    <?xml version="1.0" encoding="UTF-8"?>
    <included>
        <!-- console-appender properties -->
        <springProperty name="CONSOLE_LOG_PATTERN" source="logging.pattern.console"
                        defaultValue="%clr(%d{HH:mm:ss.SSS}){faint} %clr(%5p) %clr(---){faint} %clr([%25.25t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx2"/>
    
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    </included>  
    
    
    
  file-appender.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <included>
        <!-- file-appender properties -->
        <springProperty name="LOG_FILE_PATH" source="logging.file.path"
                        defaultValue="${user.home}/logs/seata"/>
        <springProperty name="FILE_LOG_PATTERN" source="logging.pattern.file"
                        defaultValue="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%30.30t] %-40.40logger{39} : %m%n%wEx2"/>
    
        <!--ALL-->
        <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE_PATH}/${APPLICATION_NAME:-seata-server}.${RPC_PORT}.all.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/history/${APPLICATION_NAME:-seata-server}.${RPC_PORT}.all.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>2GB</maxFileSize>
                <MaxHistory>7</MaxHistory>
                <totalSizeCap>7GB</totalSizeCap>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    
        <!--WARN-->
        <appender name="FILE_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>WARN</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <file>${LOG_FILE_PATH}/${APPLICATION_NAME:-seata-server}.${RPC_PORT}.warn.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/history/${APPLICATION_NAME:-seata-server}.${RPC_PORT}.warn.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>2GB</maxFileSize>
                <MaxHistory>7</MaxHistory>
                <totalSizeCap>7GB</totalSizeCap>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    
        <!--ERROR-->
        <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <file>${LOG_FILE_PATH}/${APPLICATION_NAME:-seata-server}.${RPC_PORT}.error.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/history/${APPLICATION_NAME:-seata-server}.${RPC_PORT}.error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>2GB</maxFileSize>
                <MaxHistory>7</MaxHistory>
                <totalSizeCap>7GB</totalSizeCap>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    </included>      
    
    
  kafka-appender.xml: |
    <?xml version="1.0" encoding="UTF-8"?>
    <included>
        <!-- kafka-appender properties -->
        <springProperty name="KAFKA_BOOTSTRAP_SERVERS" source="logging.extend.kafka-appender.bootstrap-servers"
                        defaultValue="127.0.0.1:9092"/>
        <springProperty name="KAFKA_TOPIC" source="logging.extend.kafka-appender.topic"
                        defaultValue="logback_to_logstash"/>
    
        <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
            <encoder>
                <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%p|${APPLICATION_NAME:-seata-server}|${RPC_PORT:-0}|%t|%logger|%X{X-TX-XID:-}|%X{X-TX-BRANCH-ID:-}|%m|%wex</pattern>-->
                <pattern>{
        "@timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}",
        "level":"%p",
        "app_name":"${APPLICATION_NAME:-seata-server}",
        "PORT": ${RPC_PORT:-0},
        "thread_name": "%t",
        "logger_name": "%logger",
        "X-TX-XID": "%X{X-TX-XID:-}",
        "X-TX-BRANCH-ID": "%X{X-TX-BRANCH-ID:-}",
        "message": "%m",
        "stack_trace": "%wex"
    }
                </pattern>
            </encoder>
            <topic>${KAFKA_TOPIC}</topic>
            <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy"/>
            <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>
            <producerConfig>bootstrap.servers=${KAFKA_BOOTSTRAP_SERVERS}</producerConfig>
            <producerConfig>acks=0</producerConfig>
            <producerConfig>linger.ms=1000</producerConfig>
            <producerConfig>max.block.ms=0</producerConfig>
        </appender>
    </included>   
    

  logstash-appender.xml: |   
    <?xml version="1.0" encoding="UTF-8"?>
    <included>
        <!-- logstash-appender properties -->
        <springProperty name="LOGSTASH_DESTINATION" source="logging.extend.logstash-appender.destination"
                        defaultValue="127.0.0.1:4560"/>
    
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <!-- the TCP address of the logstash -->
            <destination>${LOGSTASH_DESTINATION}</destination>
    
            <!--<encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">-->
            <encoder charset="UTF-8" class="io.seata.server.logging.logback.appender.EnhancedLogstashEncoder">
                <!-- the global custom fields -->
                <customFields>
                    {
                        "app_name": "${APPLICATION_NAME:-seata-server}"
                    }
                </customFields>
    
                <!-- Exclude the provider of data `@version` -->
                <excludeProvider>net.logstash.logback.composite.LogstashVersionJsonProvider</excludeProvider>
                <!-- Exclude providers that are not currently needed, reduce some performance loss. -->
                <excludeProvider>net.logstash.logback.composite.loggingevent.JsonMessageJsonProvider</excludeProvider>
                <excludeProvider>net.logstash.logback.composite.loggingevent.TagsJsonProvider</excludeProvider>
                <excludeProvider>net.logstash.logback.composite.loggingevent.LogstashMarkersJsonProvider</excludeProvider>
                <excludeProvider>net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider</excludeProvider>
            </encoder>
        </appender>
    </included>  
